{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Blog{% endblock %}

{% block content %}
    <!--//Post//-->
    <div class="sp-post">
        <div class="sp-post-content">
            <div class="sp-container">
                <div class="sp-post-desc">
                    <header class="sp-post-header">
                        <h2 class="sp-post-title">Blog</h2>
                    </header>
                    <dl>
                        {% for article in articles %}
                            <dt><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a> &mdash; {{ article.locale_date }} &mdash; Kategorie {{ article.category }}</dt>
                            <dd>{{ article.summary }}</dd>
                        {% endfor %}
                    </dl>
                </div>
            </div>
        </div>
    </div> <!--//End Post-->
{% endblock %}
