{% extends "base.html" %}

{% block title %}{{ page.title|striptags }}{% endblock %}

{% block content %}
          <!--//Post//-->
          <div class="sp-post">
            <figure class="sp-thumb-container sp-featured-image">
              <img src="{{ page.frontimage }}" alt="{{ page.title|striptags }}">
              <figcaption class="sp-caption">
                  <h2 style="font-size:5em; text-shadow: 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black, 5px 5px black, 6px 6px black, 7px 7px black, 8px 8px black, 9px 9px black, 10px 10px black;" class="sp-post-title">Tkalci na webu</h2>
                  <h2 style="font-size:2em; filter: drop-shadow(.05em .05em .1em #333);" class="sp-post-title">
                      Pravidelná posezení u webových technologií.<br>Každé druhé úterý v měsíci, Valašské Meziříčí a okolí.
                  </h2>
                  <a href="#dalsi-sraz" type="button" class="btn btn-warning">Další sraz &darr;</a>
              </figcaption>
            </figure>

            <div class="sp-post-content">
              <div class="sp-container">
                <div class="sp-post-desc">
                  <div class="sp-entry-content">
                    <div class="row">
                      <div class="col-md-6">
                        <h3>Srazy</h3>
                            <p>
                                <strong>Tkalci</strong> jsou skupinou lidí z
                                okolí Valašského Meziříčí, kteří se od roku
                                2013 pravidelně schází v prostorech
                                <a href="http://mapy.cz/s/lg8O">Schlattauerovy kavárny</a>.
                                Během schůzek se prostřednictvím přednášek
                                dozvídáme o novinkách a postupech z prostředí
                                <strong>webových</strong> technologií.
                                Své výstupy dokumentujeme a sdílíme
                                s veřejností.
                            </p>
                            <p>
                                O tom kde a kdy se scházíme, nebo jakým způsobem
                                vytváříme program se dočtete na <a href="/stranky/srazy.html">stránce o srazech</a>.
                            </p>
                      </div>
                      <div class="col-md-6">
                        <h3>Knihovna</h3>
                        <p>
                            Součástí naší aktivity je i snaha o vzdělávání a
                            rozšiřování vědomostí souvisejících s IT profesí.
                            Ze sponzorských darů nakupujeme odborné knihy
                            a ty pak mezi sebou sdílíme.
                        </p>
                        <p>
                            Zajímá vás obsah naší knihovny? Nebo byste si rádi
                            některou z knih půjčili? Přečtěte si <a
                            href="/stranky/knihovna.html">pravidla
                            půjčování a seznam knih</a>.</p>
                      </div>
                    </div>

                    <div class="sp-contributor-wrap">
                      <h3 class="sp-align-center">Vůbec nejlepší bude, když za náma přijdete</h3>
                      <p>
                        Termíny našich schůzek zveřejňujeme zde, na webu 
                        <a href="http://srazy.info/tkalci-na-webu">srazy.info</a>
                        a v <a href="https://groups.google.com/forum/#!forum/tkalci">mailing listu</a>. Pokud s námi chcete
                        zůstat v kontaktu, sledujte prosím některý z těchto
                        kanálů.
                      </p>

                      <hr class="sp-separator" id="dalsi-sraz">

                      {% set found = 0 -%}
                      {% for article in articles %}
                        {% if article.category|trim == "pozvanky" and found == 0 %}
                          {% set found = 1 -%}
                          <div class="sp-contributor">
                            <span class="sp-position">Další sraz</span>
                            <h4 class="sp-name">{{ article.title }}</h4>
                            <span>{{ article.locale_date }}</span>
                            <p><em>{{ article.summary }}</em></p>
                            <p><a href="http://srazy.info/tkalci-na-webu/" type="button" class="btn btn-danger">Registrovat</a></p>
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> <!--//End Post-->
{% endblock %}
